.page {
  margin-bottom: $space-4;
}

/* CART WRAPPER */
.cart {
  display: flex;
  flex-direction: column;
  gap: $space-4;
}

.title {
  @include h2;

  color: $text-primary;

  @include desktop {
    font-size: $h1-size;
    line-height: $h1-line-height;
    font-weight: $h1-weight;
  }
}

/* ITEMS + SUMMARY LAYOUT */
.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-3;
  min-height: 0;


  @include desktop {
    grid-template-columns: minmax(0, 1fr) 368px;
    align-items: start;
  }
}

/* ITEMS LIST */
.items {
  display: flex;
  flex-direction: column;
  gap: $space-3;
  width: 100%;
  min-width: 0;

  @include desktop {
    gap: $space-3;
  }
}

/* SUMMARY BOX */
.summary {
  width: 100%;
  min-width: 0;

  padding: $space-5;
  height: fit-content;
  align-self: start;

  box-sizing: border-box;
  border: 1px solid $color-elements;

  display: flex;
  flex-direction: column;
  gap: $space-4;

  @include desktop {
    max-width: 368px;
  }

  .totalBlock {
    text-align: center;
    padding-bottom: $space-3;
    border-bottom: 1px solid $color-elements;
  }

  .count {
    @include body-text;

    color: $text-secondary;
    margin-top: $space-1;
  }
}

/* CHECKOUT BUTTON */
.checkout {
  width: 100%;
  padding: 14px 24px;

  background: $accent-primary;
  border: none;
  border-radius: $radius-s;

  color: $text-primary;

  @include body-text;

  font-weight: 700;

  cursor: pointer;
  transition: background $hover-transition;

  &:hover {
    background: $accent-hover;
  }

  &:active {
    background: $accent-active;
  }
}

/* EMPTY STATE */
.empty {
  @include flex-center;

  flex-direction: column;
  text-align: center;
  gap: $space-4;
  padding: $space-6 0;
}

.emptyText {
  @include h2;
  
  color: $text-primary;

  @include tablet {
    font-size: 40px;
    line-height: 48px;
  }

  @include desktop {
    font-size: 48px;
    line-height: 1.1;
  }
}

.emptyImage {
  width: 160px;
  object-fit: contain;
  background: transparent;

  @include tablet {
    width: 200px;
  }

  @include desktop {
    width: 260px;
  }
}

.btn {
  background-color: $surface-2;
  color: $text-primary;

  border: none;
  border-radius: $radius-s;
  padding: 12px 24px;

  font-weight: 600;

  cursor: pointer;
  transition: background $transition;

  &:hover {
    background-color: $surface-3;
  }

  &:active {
    background-color: $accent-active;
  }
}
