@use './variables' as *;

/* GLOBAL RESET + BASE */

@mixin globals {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: $bg-primary;
    color: $text-primary;
    font-family: $font-family-primary;
  }
}




