@use './variables' as *;

/* GLOBAL RESET + BASE */

@mixin globals {
  * {
    box-sizing: border-box;
  }

  html, body, * {
    font-family: $font-family-primary;
  }
  
  body {
    margin: 0;
    background-color: $bg-primary;
    color: $text-primary;
    font-family: $font-family-primary;
  }
}

button {
  background-color: $surface-2;
  color: $text-primary;
  border: none;
  border-radius: $radius-s;
  transition: background $transition;

  &:hover {
    background-color: $surface-3;
  }

  &:active {
    background-color: $accent-active;
  }
}



