@import '../../styles/variables';
@import '../../styles/mixins';

.heart-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;

  &.active {
    color: red;
  }
}
