@import '../../../styles/variables';
@import '../../../styles/mixins';


.wrapper {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 16px 64px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  color: $text-primary;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
