@import '../../styles/variables';

.back-button {
  display: inline-flex;
  align-items: center;
  gap: $space-2;

  background: transparent;
  border: none;
  padding: 0;

  color: $text-primary;
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  transition: color $transition;

  &:hover {
    color: $text-secondary;
  }

  &__icon {
    display: block;
  }
}
