.description {
  display: flex;
  flex-direction: column;
  gap: $space-3;

  h2 {
    font-size: $h2-size;
    font-weight: $h2-weight;
    line-height: $h2-line-height;
    color: $text-primary;

    margin-bottom: 0;
    padding-bottom: $space-3;
    border-bottom: 1px solid $color-elements;
  }
}

.block {
  margin: 16px 0;
  border: none;

  h2 {
    font-size: $h2-size;
    font-weight: $h2-weight;
    line-height: $h2-line-height;
    color: $text-primary;

    padding-bottom: $space-3;
    border-bottom: 1px solid $color-elements;
  }

  h3 {
    font-size: $h3-size;
    font-weight: $h3-weight;
    line-height: $h3-line-height;
    color: $text-primary;
    margin: $space-3 0;
  }

  p {
    margin-bottom: $space-2;
    color: $text-secondary;
    line-height: 1.6;
    font-size: 14px;
    letter-spacing: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
