@mixin container {
  width: 100%;
  margin-inline: auto;


  @include mobile {
    padding-inline: 16px;
  }

  @include tablet {
    padding-inline: 24px;
  }

  @include desktop {
    max-width: 1136px;
    padding-inline: 0;
  }
}

// Flex helpers
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
